@mixin move-bottom($object-height) {

    animation: move-bottom 3s linear 0s 1 forwards;

    /*
        Prevent blurry
    */
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    filter: blur(0);

    @keyframes move-bottom {

        20% {
            transform: scale(1.5, 1.5);
        }
        50% {
            transform: scale(1.5, 1.5);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        50% {
            //right: 0%;
        }

        80% {
            transform: scale(1.2, 1.2);
            right: 40%;
        }
        100% {
            transform: scale(1, 1);
            top: 100%;
            right: 100%;
            bottom: $object-height;
        }
    }
}
